box {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  background-color: white;
}

body {
  display: flex;
}

div {
  height: 7vh;
  width: 7vh;
  background-color: red;
  border-radius: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
