box {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
}

div {
  height: 7vh;
  width: 7vh;
  background-color: rgb(100, 237, 130);
  border-radius: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}
hiden {
  background-color: lightblue;
}

bomb {
  background-color: lightblue;
}
