box {
  display: grid;
  grid-template-columns: repeat(10, 7vh);
  grid-template-rows: repeat(10, 7vh);
  /* background-color: rgb(216, 11, 11); */
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
}

div {
  height: 7vh;
  width: 7vh;
  background-color: rgb(100, 237, 130);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-around;
  height: 15vh;
}
hiden,
bomb {
  background-color: lightblue;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
